{
  "extends": "ipfs/js",
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-named-default": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
