{
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-named-default": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "ignorePatterns": [
    "**/bin/load-fixtures.sh", 
    "**/dist/**", 
    "**/node_modules/**",
    "**/test/fixtures/**"
  ],
}
